<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>D&D Encounter Helper</title>
        <!-- Hacking this together since I couldn't get the react import to work.... -->
        <link rel="stylesheet" href="built/css/rc-slider.min.css">
        <link rel="stylesheet" href="built/css/bootstrap.css">
        <link rel="stylesheet" href="built/css/fixes.css">
    </head>
    <body>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

    </body>
</html>